.create-post-main-container{
    background-image: url('https://s3-alpha-sig.figma.com/img/ade0/82c7/365370ff49d580050c86cb9a271520d0?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PLyslrdhOfiMxE~L587k2SPv1czs2YKeDF4RNAYqTTMzYFQ9aWhT4o3xOCSyIfpXnMtBTQoixNIzS0Y0osOwcWVBglF8CsO6~OBJ81qKKuTtC5HI8bTEx8hXkIFXEi0qV5Xn7YzK8NbsofwxuQPrNElOd0z8yhiAb1SyXgZaffMhZupYLANRzzF2yXd46ntFu6U0fCIfc8VTc43KTMsku5m83mUz1uyX5k~EQgEZHdhf~X46EdoKSKwV00DuQ9VowouhQYD1G3TgM2D-K4~1OESVvrjPB5W8schxNLeONbA0IuSYt2y6Voo-hV56doNLxV2xii3wTiyTPikp-ZPgOg__');
    width:100%;
    height: 560px;
    background-size: cover;
    padding:250px 120px 0px 120px;
}
.create-post-container{
    width: 100%;
    height: 660px;
    background-color: #ffffff;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
.create-post-image-styling{
    width: 450px;
    height: 100%;
    margin-right: 20px;
}
.create-post-form-contaienr{
    margin-top: 40px;
    margin-left: 20px;
}
.create-post-form-first-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.create-post-label-styling{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    color: #8D8D8D;
}
.create-post-driver-name-container{
    margin-right: 40px;
    margin-bottom: 20px;
}
.create-post-input-field-styling{
    height: auto;
    width: 240px;
    outline: none;
    border: none;            /* Remove all borders */
    border-bottom: 1px solid #8D8D8D; 

}
.from-to{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
.create-post-from-to-container{
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
}
.icon-styling{
    width: 14px;
    margin-right: 12px;
    margin-top: 16px;
}
.input-from{
    height: 28px;
    width: 140px;
    outline: none;
    border: none;            /* Remove all borders */
    border-bottom: 1px solid #8D8D8D;
    margin-right: 30px;
    
}
.icon-styling-circle{
    height: 14px;
    width:14px;
    border-radius: 7px;
    background-color: #8D8D8D;
    margin-right: 12px;
    margin-top: 16px;
}
.message-input-styling{
    border: none;
    outline: none;
    border-bottom: 2px solid #8D8D8D;
    width: 100%;
}
.message-name-styling{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #8D8D8D;
    margin-bottom: 6px;
}
.create-post-footer-container {
   
    margin-left: -120px;
    margin-right: -120px;
    margin-top: 400px;
    /* Compensates for the -120px on both sides */
  }

.create-post-bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vehicle-photo-name{
    font-family: 'Poppins';
    font-weight: 400;
    color: #000000;
    font-size: 16px;
}
.pic-upload-container{
    height: 50px;
    width: 140px;
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 15px;
    background-color: #e6dfdf;
    box-shadow: #E3E3E3 4px 4px 16px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: -10px;
}
.upload-icon{
    height: 20px;
    width: 18px;
    color: #000000;
}
.pic-upload-name-style{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-left: 15px;
    margin-top: 15px;
}
input[type='file'] {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 15%;
    right: 10%;
    width: 75%;
    height: 100%; /* Semi-transparent white */
     /* Ensure blur is applied */
    z-index: 3; /* Ensure it's above other elements */
    opacity: 0.3;
}
.icon-container{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}
.popup-icon-styling{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.popup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.image-styling{
    height: 150px;
    width: 200px;
    
}
.thanks{
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-top: 0px;
    text-align: center;
}
.cragomate{
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    text-align: center;

}
