.register-main-bg-container{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.register-main-bg-container::before{
    content: "";
    background-image: url('https://s3-alpha-sig.figma.com/img/943a/973f/3d76a5972d1215cc89d2db1924234f31?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XP6BbYHCqEfoOKwiJySAFEbxtmEBjxIhdvFI9iM4svLXKySN-illZIuT4q9DGcWIXFFhLtR7k2hogxlUIT7pK6k5HYASEgfphFXCGroQEgnsWk2DT6JF8J8LKW6IBb7jXieUZzBvHlQuExSxhl8osLpOD4wu6h4UqdFj2GbUMNjjYSETRx7y7vxNkRd-EUgamXpbYGQy-3vALrdl44tF1e9NEvJpEBAyKu2si0S8EzoV2kGxQpBF67Rr1PasgHftbQQpJ1Xo8lvBD6TujsLL6Vr8zoFxB4Yp6w65QcvSaK3I9BC~PnaGebNDiKYiL~902DXSNgc4V03JLDjNv5byGQ__');
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.register-main-container{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    z-index: 1; 
    margin-top: 50px;
    margin-bottom: 50px;
}
.register-main-heading{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
}
.register-main-heading-extra{
    font-size: 50px;
    color: #068203;
}
.register-new-user{
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-underline-offset: 6px;
    text-align: center;
    margin-bottom: 20px;
}
.register-container{
    border:1px solid #000000;
    border-radius: 20px;
    width: 400px;
    padding: 20px;
}
.register-image-upload-container{
    height:60px;
    width: 60px;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.register-camera-icon{
    font-size: 18px;
}
.register-space{
    text-align: center;
}
.register-pencil-icon{
    font-size: 14px;
    margin-left: 20px;
    margin-top: -8px;
}
input[type='file'] {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.register-profile-image-styling{
    border-radius: 40px;
    height: 80px;
    width: 80px;
    margin-left: 130px;
}
.register-label-styling{
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding-left: 15px;
}
.register-input-field-styling{
    width: 100%;
    height: 50px;
    padding: 5px 10px 5px 20px;
    border:1px solid rgb(146, 141, 141);
    border-radius: 23px;
    outline: none;
    margin-bottom: 20px;
}
.register-radio-styling{
    color: #272424;
    width: 15px;
    margin-right: 8px;
    cursor: pointer;
    margin-top: 10px;
}
.register-radio-label-style{
    font-family: 'Inter',sans-serif;
    font-size: 17px;
    color: #000000;
    font-weight: 400;
    margin-right: 30px;
    cursor: pointer;
}
.register-select-truck{
    height: 50px;
    width:100%;
    border-radius: 22px;
    border:1px solid rgb(146, 141, 141);
    border-radius: 23px;
    outline: none;
    margin-bottom: 20px;
    padding: 5px 40px 5px 20px;

}
.regster-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.register-button-styling{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    background-color:#33a000;
    border-width: 0px;
    border-radius: 20px;
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
}
.register-border-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 20px 0;
    margin-bottom: 20px;
}
.register-border-container::before,
.register-border-container::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid #000000; /* Change color as needed */
    margin: 0 10px;
}
.register-border-text{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    padding: 0 10px;
}
.register-continue-google{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.register-icon-container{
    height: 20px;
    width: 20px;
    background-color: #ff0000;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
}
.register-google-icon{
    color: #ffffff;
    font-size:10px;
}
.register-signup-content{
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
.register-login-name{
    color: #4200ff;
    cursor: pointer;
}
.register-thanku-card{
    background-color: #ffffff;
    width: 400px;
    height: 200px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-thank-You-icon{
    color: #068203;
    font-size: 50px; 
}
.register-thank-you-content{
    font-family: 'Roboto';
    font-size: 18px;
    color: rgb(169, 167, 167);
    font-weight: 400;
    text-align: center;
    margin-top: 7px;

}
.thank-you-space{
    margin-top: 0px;
    background-color: rgba(11, 110, 11, 0.864);
}
.thank-you-link-style{
      text-decoration: none;
}
@media(max-width:700px){
    .register-container{
        width: auto;
    }
    .register-main-container{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .register-thanku-car{
        width: auto;
    }
}