.Home-bg-container{
    
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px; 
}
.home-linking-style{
    text-decoration: none;
}
.home-first-line-heading{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size:23px;
    margin-left: 60px;
}
.home-second-line-heading{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size:70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.home-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.home-first-buton{
    height: 40px;
    width: 180px;
    border-radius: 8px;
    border-width: 0px;
    background-color: #18AB00;
    font-size: 15px;
    color: #ffffff;
    margin-right: 30px;
}
.home-second-buton{
    height: 40px;
    width: 140px;
    border-radius: 8px;
    border-width: 0px;
    background-color: #18AB00;
    font-size: 15px;
    color: #ffffff;
}
@media(max-width:600px){
    .Home-bg-container{
        padding: 40px 40px 40px 20px;
        min-width: 100%;
        min-height: 100%;
    }
    .home-second-line-heading{
        font-size: 30px;
        margin-top: 0px;
       margin-bottom: 10px;
    }
    .home-first-line-heading{
        margin-left: 0px;
        font-size: 18px;
    }
    .home-first-buton{
        height:30px;
        width:140px;
        border-radius: 5px;
        font-size: 14px;
    }
    .home-second-buton{
        height:30px;
        width:120px;
        border-radius: 5px;
        font-size: 14px;
    }
}
.home-features-sections{
    padding: 40px;
}
.home-features-heading{
    font-family: 'Lato',sans-serif;
    color: #000000;
    font-size: 23px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #18AB00;
    text-underline-offset: 6px;
    margin-bottom: 20px;
}
.home-features-extra{
    color: #0500FF;
    font-size: 25px;
}
.home-features-description{
    font-family: 'Lato',sans-serif;
    font-size: 18;
    font-weight: 400;
    color: #000000;
    margin-bottom: 30px;
}
.home-features-images-main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home-features-images-first-container{
    height: 200px;
    width: 400px;
    background-color: #B0AFB1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-features-image-styling{
    width:100px;
    border-radius: 8px;
}
.home-feture-name{
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}
.home-second-feature{
    background-color: #ffffff;
}
.home-feature-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home-feature-truck-image{
    top: 50%; /* Move the image halfway down */
    left: 50%;
    margin-left: 200px;
    transform: translate(-50%, -50%); /* Center the image both horizontally and vertically */
    z-index: 1; /* Make sure the image stays on top */
    width: 250px;
  
}
.home-features-images-third-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -23px;
    margin-top: -155px;
}
@media(max-width:600px){
.home-feature-truck-image{
    width: 150px;
    margin-top: 0px;
    margin-left: 160px;
}
.home-features-images-third-container{
    margin-top: -93px;
}
.home-features-image-styling{
    width: 80px;
}
}
.home-about-section{
    padding:40px;
}
.home-about-heading{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #18AB00;
    text-underline-offset: 8px;
    font-size: 25px;
}
.home-recent-reviews-section{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.home-review-container{
    margin-right: 70px;
}
.home-review-heading{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color:#2400FF;
    font-size: 25px;
    padding: 40px 40px 0px 40px;
   margin-bottom: -10px;
}
.home-review-top-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.home-recent-review-image{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
.home-reviews-name{
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: gray;
    text-underline-offset: 6px;
}
.home-review-heading-style{
    font-family: 'Lao Muang Don',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0C840A;
    margin-top: 15px;
    margin-bottom: 15px;
}
.homereview-description-container{
    width: 300px;
    height: 100px;
}
.home-review-description{
    font-family: 'Lao Muang Don',sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
}
marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }